@keyframes floating {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0, 3.5px) rotate(15deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}
@keyframes shining {
  0% {
    background-position: 0% 0;
  }
  20% {
    background-position: -120% 0;
  }
  100% {
    background-position: -120% 0;
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.nav-bar {
  position: sticky;
  width: 100%;
  height: 3.5rem;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .nav-bar-left {
  width: 32.5rem;
  height: 3.5rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bar-left div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-bar .nav-bar-left div a,
.nav-bar .nav-bar-left div .link-text {
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
  font-weight: 1000;
}
.nav-bar .nav-bar-left div a:hover:not(.logo a):not(.link-text)::before,
.nav-bar .nav-bar-left div .link-text:hover:not(.logo a):not(.link-text)::before {
  width: 100%;
}
.nav-bar .nav-bar-left div a::before,
.nav-bar .nav-bar-left div .link-text::before {
  content: "";
  width: 0%;
  height: 2.5px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-bar .nav-bar-left .store a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 157, 0);
  background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0.5) 10%, transparent 10%, transparent 100%);
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shining 5s ease 0s infinite;
}
.nav-bar .nav-bar-left .store a span {
  margin-top: 0.1rem;
}
.nav-bar .nav-bar-left .store a::before {
  background-color: rgb(255, 157, 0);
}
.nav-bar .nav-bar-left .logo::before {
  content: "";
  width: 2px;
  height: 55%;
  background-color: white;
  position: absolute;
  right: 0.5rem;
}
.nav-bar .nav-bar-left .logo a {
  animation: floating 3s ease-in-out 0s infinite;
}
.nav-bar .nav-bar-left .logo a img {
  filter: invert(1);
  transition: all 0.15s ease;
}
.nav-bar .nav-bar-left .logo a:hover img {
  width: 55px;
  height: 30px;
  transform: rotate(60deg);
}
.nav-bar .nav-bar-right {
  margin-right: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bar-right div {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bar-right div a {
  text-decoration: none;
  color: white;
  transition: all 0.15s ease-in-out;
}
.nav-bar .nav-bar-right .premium a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(255, 157, 0) solid;
  border-radius: 25px;
  padding: 0.15rem 0.3rem 0.15rem 0.3rem;
  background-color: rgb(255, 157, 0);
  background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0.5) 10%, transparent 10%, transparent 100%);
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shining 5s ease 3s infinite;
  transition: all 0.05s ease-in-out;
}
.nav-bar .nav-bar-right .premium a .material-symbols-outlined {
  margin-left: 0.5rem;
}
.nav-bar .nav-bar-right .premium a:hover {
  border: 1px white solid;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: rgb(255, 157, 0);
  background-color: white;
}
.nav-bar .nav-bar-right .premium a:hover .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.nav-bar .nav-bar-right .currency {
  font-family: "Roboto", sans-serif;
  margin-left: 2rem;
  margin-right: 0rem;
}
.nav-bar .nav-bar-right .currency a {
  font-size: 1.3rem;
  font-weight: 1000;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
}
.nav-bar .nav-bar-right .currency a .dollar-sign {
  margin-right: 0.15rem;
}
.nav-bar .nav-bar-right .currency a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.nav-bar .nav-bar-right .profile img {
  border: 2px white solid;
  border-radius: 40px;
}
.nav-bar .nav-bar-right .profile .register-signin-container {
  margin-left: 10.5rem;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bar-right .profile .register-signin-container a,
.nav-bar .nav-bar-right .profile .register-signin-container span {
  text-align: center;
  font-size: 1rem;
}
.nav-bar .nav-bar-right .profile .register-signin-container span {
  color: rgb(255, 157, 0);
}
.nav-bar .nav-bar-right .profile .register-signin-container a {
  border: white 1px solid;
  padding: 0.25rem 0rem 0.25rem 0rem;
  border-radius: 5px;
  width: 100px;
}
.nav-bar .nav-bar-right .profile .register-signin-container a:nth-child(1) {
  margin-right: 0.3rem;
}
.nav-bar .nav-bar-right .profile .register-signin-container a:nth-child(3) {
  margin-left: 0.35rem;
}
.nav-bar .nav-bar-right .profile .register-signin-container a:hover {
  background-color: rgb(255, 157, 0);
  border: 1px rgb(255, 157, 0) solid;
  color: white;
}
@media (max-width: 665px) {
  .nav-bar div {
    background-color: blue;
  }
}/*# sourceMappingURL=Navbar.css.map */