//Imports
@import "./modules/ThemeColors";
//Variables

//Aniamtions

//Main

.body {
  width: 100%;
  height: 93.2vh;
  background-image: linear-gradient(rgb(40, 40, 40), rgb(30, 30, 30));
  display: flex;
  justify-content: center;
  align-items: center;
  .sign-in-container {
    width: 25rem;
    height: 35rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 2rem;
      color: black;
      font-weight: 2000;
    }
    form {
      border: black 0.5px solid;
      background-color: rgba(0, 0, 0, 0.025);
      width: 20rem;
      height: 27rem;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      label {
        margin-bottom: 1.25rem;
        font-weight: 1000;
        font-size: 1.5rem;
        &:nth-child(3) {
          margin-top: 3.5rem;
        }
      }
      input {
        width: 10rem;
        height: 2rem;
        border: 0px;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        text-align: center;
        color: black;
        font-weight: 550;
        transition: all 0.15s ease;
        &::placeholder {
          color: rgba(0, 0, 0, 0.55);
          font-weight: 10;
        }
        &:focus,
        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
          font-size: 0.875rem;
          width: 10.15rem;
          height: 2.15rem;
        }
        &:checked {
          background-color: blue;
        }
        &[type="submit"] {
          margin-top: 3.5rem;
          width: 12.5rem;
          height: 3rem;
          background-color: $CTA;
          border: 1px white solid;
          color: white;
          font-size: 1rem;
          pointer-events: all;
          cursor: pointer;
          transition: all 0.15s ease;
          &:hover {
            border: 2.5px $CTA solid;
            background-color: white;
            color: $CTA;
            width: 12.75rem;
            height: 3.25rem;
            font-size: 1.15rem;
          }
        }
      }
      span {
        text-decoration: underline;
        pointer-events: all;
        cursor: pointer;
        margin-top: 0.5rem;
        color: blueviolet;
        &:hover {
          color: $CTA;
        }
      }
    }
  }
  .create-account-container {
    width: 25rem;
    height: 35rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 2rem;
      color: black;
      font-weight: 2000;
    }
    form {
      border: black 0.5px solid;
      background-color: rgba(0, 0, 0, 0.025);
      width: 20rem;
      height: 27rem;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      label {
        margin: 2rem 0rem 0.1rem 0rem;
        font-weight: 1000;
        font-size: 1.5rem;
        &:nth-child(1) {
          margin: 0rem 0rem 0.1rem 0rem;
        }
      }
      input {
        width: 10rem;
        height: 2rem;
        border: 0px;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        text-align: center;
        color: black;
        font-weight: 550;
        transition: all 0.15s ease;
        &::placeholder {
          color: rgba(0, 0, 0, 0.55);
          font-weight: 10;
        }
        &:focus,
        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
          font-size: 0.875rem;
          width: 10.15rem;
          height: 2.15rem;
        }
        &:checked {
          background-color: blue;
        }
        &[type="submit"] {
          margin-top: 3rem;
          width: 12.5rem;
          height: 3rem;
          background-color: $CTA;
          border: 1px white solid;
          color: white;
          font-size: 1rem;
          pointer-events: all;
          cursor: pointer;
          transition: all 0.15s ease;
          &:hover {
            border: 2.5px $CTA solid;
            background-color: white;
            color: $CTA;
            width: 12.75rem;
            height: 3.25rem;
            font-size: 1.15rem;
          }
        }
      }
      span {
        text-decoration: underline;
        pointer-events: all;
        cursor: pointer;
        margin-top: 0.5rem;
        color: blueviolet;
        &:hover {
          color: $CTA;
        }
      }
    }
  }
}
